/* variables*/
body {
  min-height: 100vh;
}
.jumbotron {
  background-color: #fffa19;
  color: black;
  height: 5rem;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 56px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px;
  min-width: 320px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.body-content {
  min-height: 70vh;
}
.breadcrumb {
  margin-top: 10px;
  font-size: 20px;
}
.icons-margin {
  margin-right: 5px;
}
.breadcrumb {
  background-color: #cad4d1;
  padding-left: 5px;
}
.form-control {
  margin: 10px 0;
}
#banerprincipal {
  /* position: relative; */
}
#img-baner {
  /* width: 100%; */
  min-height: 80vh;
  /* position: absolute; */
}
.baner-text {
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 20;
}
.baner-text1 {
  position: absolute;
  top: 400px;
  left: 400px;
  z-index: 20;
}
.baner-text2 {
  position: absolute;
  top: 500px;
  right: 300px;
  z-index: 20;
}
@media (max-width: 800px) {
  .baner-text {
    position: absolute;
    top: 17rem;
    left: 5rem;
    z-index: 20;
  }
  .baner-text1 {
    position: absolute;
    top: 22rem;
    left: 7rem;
    z-index: 20;
  }
  .baner-text2 {
    position: absolute;
    top: 30rem;
    left: 5rem;
    z-index: 20;
  }
}
/*  tabs precios  */
#precios,
#tarjeta {
  margin-top: 56px;
  margin-bottom: 0px;
}
/* images carousel */
#imgCarousel {
  height: 600px;
  width: 1200px;
}
